In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
data=pd.read_csv("Bengaluru_House_Data.csv")

In [4]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [5]:
df=pd.DataFrame(data)

In [6]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
df.shape

(13320, 9)

To keep our Model Very Simple iAm going to drop Certain Columns From My DataSets

In [8]:
df2=df.drop(["area_type","society","balcony","availability"],axis="columns")

In [16]:
df2.tail(100)

                    location       size total_sqft  bath   price
13220               Attibele      1 BHK        520   1.0   15.00
13221          T Dasarahalli  9 Bedroom       1178   9.0   75.00
13222        Electronic City      3 BHK       1360   2.0   64.99
13223     Gopalkrishna Nagar      2 BHK       1155   2.0   64.00
13224             Chandapura      1 BHK        520   1.0   14.04
...                      ...        ...        ...   ...     ...
13315             Whitefield  5 Bedroom       3453   4.0  231.00
13316          Richards Town      4 BHK       3600   5.0  400.00
13317  Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318        Padmanabhanagar      4 BHK       4689   4.0  488.00
13319           Doddathoguru      1 BHK        550   1.0   17.00

[100 rows x 5 columns]

In [10]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

filling The Bathroom column with the median

In [18]:
df2["bath"]=df2["bath"].fillna(df2["bath"].median())

In [21]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath           0
price          0
dtype: int64

In [20]:
df3=df2.dropna()

In [22]:
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

Adding Bhk In The DataSet To Remove the String And Conveting the Data Into Numerical Data

In [23]:
df3["size"]=df3["size"].apply(lambda x: x.split(" ")[0])

C:\Users\praka\AppData\Local\Temp\ipykernel_18024\4290973631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["size"]=df3["size"].apply(lambda x: x.split(" ")[0])

In [24]:
df3.head()

                   location size total_sqft  bath   price
0  Electronic City Phase II    2       1056   2.0   39.07
1          Chikka Tirupathi    4       2600   5.0  120.00
2               Uttarahalli    3       1440   2.0   62.00
3        Lingadheeranahalli    3       1521   3.0   95.00
4                  Kothanur    2       1200   2.0   51.00

In [25]:
type(df3["size"][9])

str

In [27]:
df3["size"]=df3["size"].astype("int64")

C:\Users\praka\AppData\Local\Temp\ipykernel_18024\2874428166.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["size"]=df3["size"].astype("int64")

In [32]:
print(type(df3["size"][4]))

<class 'numpy.int64'>

In [33]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13303 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13303 non-null  object
 1   size        13303 non-null  int64
 2   total_sqft  13303 non-null  object
 3   bath        13303 non-null  float64
 4   price       13303 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.1+ MB

In [42]:
def cleaningForSize(value):
    value=str(value)
    if value.isdigit():
        return int(value)
    elif '-' in value:
        try:
            a, b = value.split('-')
            return int((int(a) + int(b)) / 2)
        except:
            return np.nan
    else:
        return np.nan

In [43]:
df3['cleaned_size']=df3["size"].apply(cleaningForSize)

C:\Users\praka\AppData\Local\Temp\ipykernel_18024\2408111586.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['cleaned_size']=df3["size"].apply(cleaningForSize)

In [45]:
df3["cleaned_size"].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18])